<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artist Show Page</title>
  </head>
  <body>
    Genres:
    <% @artist.genres.each do |genre| %>
      Genre: <%= genre.name %>
      Genre Link: <a href=<%= "/genres/#{genre.slug}" %>> link text</a>
      <% end %>
    <br />
    Songs:
      <% @artist.songs.each do |song| %>
      Song: <%=song.name %>
      Song Link: <a href=<%= "/songs/#{song.slug}" %>> link text</a>
      <% end %>
  </body>
</html>
